.login-page{
    width:400px;
    height: 350px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: rgb(247, 245, 246);
    -webkit-box-shadow: 7px 10px 5px -1px rgba(97,93,97,1);
-moz-box-shadow: 7px 10px 5px -1px rgba(97,93,97,1);
box-shadow: 7px 10px 5px -1px rgba(97,93,97,1);
}

.login-main-page{
    width:100vw;
    height: 85vh;
    display: flex;
    justify-content: center;  
 
   }
.login-page{
    text-align: center;
    display: block;
}

.heading-whatsapp{
    cursor: pointer;
}